127.0.0.1	wordpress.vagrant.local	wordpress
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.120.0.3  {{ wordpress_server_name }}